<!DOCTYPE html>
<head lang="en">
<link href="{{ url_for('static', filename='style.css')}}" rel="stylesheet"/>
<link href="{{ url_for('static', filename='frame.png')}}" rel="icon"/>

</head>
<body>
<div id="404">
<img src="{{ url_for ('static', filename='404.png')}}" alt="404 error img"
style="width:500px; height:500px; float:right;"/>
<h1>Well that doesn't seem right</h1>
<h2>Seems like you've found a 404 error, Well Done!</h2>
<p>Don't Worry though it'll be our little secert</p>
</div>
</body>
</html>
